<header>
    <div class="container">
            <div class="details-left">
                <h1><p>Offer</p> <span>50%</span></h1>
                <button>More</button>
            </div>
            <div class="image-container">
                <div class="image">
                    <img src="../../../../assets/images/coverMan.png" alt=""/>
                </div>
            </div>
            <div class="details-right">
              <p class="desc"> All you nedd in one place From the latest gadgets and fashion trends to home essentials and more, find everything you need and desire in our diverse catalog. </p>
              <h2>
                 New
                 <span>Collection</span>
              </h2>
          </div>
    </div>
</header>
