<section *ngIf="showParent" class="content table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Title</th>
        <th>Category</th>
        <th>Price</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Count Items</th>
        <th colspan="2">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of paginatedItems">
        <td>#{{ product.id }}</td>
        <td>
          <span class="image"><img src="{{ product.image }}" /></span>
        </td>
        <td>{{ product.title | slice : 0 : 20 }}..</td>
        <td>{{ product.category }}</td>
        <td>{{ product.price | currency }}</td>
        <td class="desc">{{ product.description | slice : 0 : 100 }}...</td>
        <td>{{ product.rating.rate }} / 5 </td>
        <td>{{ product.rating.count }}</td>
        <td>
          <button class="edit" (click)="handleEdit(product.id)">
            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title></title> <g id="Complete"> <g id="edit"> <g> <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none" stroke="#fec436" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path> <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8" stroke="#fec436" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polygon> </g> </g> </g> </g></svg>

          </button>
        </td>
        <td><button (click)="handleDelete(product.id)">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 12V17" stroke="#b50000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M14 12V17" stroke="#b50000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M4 7H20" stroke="#b50000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="#b50000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#b50000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
        </button></td>
      </tr>
    </tbody>
  </table>

  <app-pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage"></app-pagination>

</section>
<router-outlet></router-outlet>
