@import "../../../../assets/variables"
.container
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column
  width: 100%
  min-height: 85vh
.product
  max-width: 800px
  width:800px
  margin: 0 auto
  padding: 16px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  display: flex
  align-items: center

  gap: 16px
  border-radius: 16px
  height: auto

  &-details
    background: $secondary-color
    border-radius: 16px
    padding: 20px
    display: flex
    flex-direction: column
    gap: 20px

  .product-image
    width: 200px
    height:200px
    border-radius: 8px


  .product-name
    font-size: 1.5rem
    margin-top: 12px
    color: $main-color-dark


  .product-description
    color: $dark-color
    margin-top: 8px


  .product-price
    font-weight: bold
    margin-top: 8px
    display: block
    color: $main-color

  .product-rank
    width:100%
    display: flex
    justify-content: space-between
    align-items: center
    color: $main-color-dark
    margin-top: -15px
    div
      display: inline-flex
      gap:10px
    img
      width:15px
      height:15px
  span.title
    color: $dark-color
    display: block
    margin: 4px 0

button
  background: $main-color
  color: #fff
  border: none
  border-radius: 4px
  padding: 8px 16px
  margin: 2rem auto
  width: 300px
  cursor: pointer
  transition: background-color 0.3s ease

  &:hover
    background-color: darken($main-color, 10%)

@media(max-width: 767px)
  .container
    width:95%
    margin: auto
    padding: 2rem 0
    .product
      width:100%
      flex-direction: column

